@font-face {
  font-family: checfont1;
  src: url("../fonts/VAGRoundedStd-Light.otf");
}

html {
  min-width: 100%;
  height: 100%;
  font-family: checFont1 !important;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #92c849;
  width: 100%;
  margin-bottom: 5em;
  height: auto;
}

.nav-wrapper {
  display: flex;
  align-self: flex-start;
  flex-grow: 1;
  background-color: grey;
  justify-content: space-between;
}

a {
  align-self: center;
}

.navbar-brand {
  margin-right: 0%;
}

.profile-pic {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: black;
  border-radius: 50px;
}

#cercania_logo {
  margin-bottom: 2em;
  margin-top: 2em;
}

#container_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70em;
  height: auto;
  background-color: white;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
  border-radius: 2px;
  z-index: 100;
  padding-bottom: 2em;
}

/* main {
  display: flex;
  justify-content: center;
  align-items: center;
} */

h2 {
  font-family: checFont1;
}

#opaco {
  display: flex;
  align-items: center;
  padding-left: 6em;
  position: fixed;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: -2000 !important;
}

.select-wrapper {
  margin-bottom: 3em;
}

input.datepicker {
  margin-bottom: 3em !important;
}

span {
  font-family: checFont1 !important;
  font-size: 1.8em;
}

#etj {
  display: flex;
  flex-direction: row;
}

.select-wrapper {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 5px 0px;
  padding: 12px;
  border-radius: 3px;
}


#titulo {
  text-align: center;
  background-color: rgba(35, 146, 25, 0.3);
  width: 100%;
  margin-bottom: 2em;
}

.divider {
  margin-bottom: 3em;
}

#form_cercania {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#radio {
  display: flex;
  justify-content: space-evenly;
}

div.btn{
  background-color: #92c849;
}

.btn.waves-effect{
  margin-top: 3em;
  background-color: rgba(0, 0, 0, 0.3);
  height: 5em;
  width: 10em;
}
